repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        # Exclude tests as they often violate standard linting rules (accessing protected members, etc)
        # Exclude tests and tools
        exclude: ^(tests|tools)/
        args: ["custom_components/mysa"]

      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        # Exclude tools as they use dynamic imports not compatible with strict package typing
        exclude: ^tools/
        args: ["--explicit-package-bases"]
